*,
html {
    margin:0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./backgroundhome1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    background-color: #2F0F5D;
    border-radius: 15px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #0EA293;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #F5F3C1;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #27E1C1;
}

.icon-about {
    padding-left: 3px;
}

.icon-service {
    padding-left: 10px;
}

.icon-perpus {
    padding-left: 35px;
}
.menu ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
    transition: 0.3s ease;
    
}
.menu ion-icon:hover{
    color: #27E1C1;
}

.icon-apotek {
    padding-left: 40px;
}

.icon-service {
    padding-left: 30px;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #27E1C1;
    margin-top: 13px;
    color: #fEfEf3;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #27E1C1;
    border: 2px solid #27E1C1;
    margin-top: 13px;
    color: #fEfEf3;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: auto;
    color: #F5F3C1;
    position: relative;
    padding-top: 20px;
}

.conten {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: auto;
    color: #F5F3C1;
    position: relative; 
    padding-top: 20px;
}

.kotak-login {
    background-color: #2F0F5D;
    color: #F5F3C1;
    text-decoration:  none;
    font-family: 30px;
    width : 250px;
    height: 520px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.tulisan-login {
    font-size: large;
}

.img-conten {
    width:150px;
    height: 150px;
    border-radius: 90px;
}

.link {
    
    color : #F5F3C1
}

.liw{
    text-align: center;
}
.conten a{
    text-decoration: none;
    color: #fEfEf3;
    
}
.conten ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 5px;
    transition: 0.3s ease;
    
}
.conten ion-icon:hover{
    color: #27E1C1;
}